<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Lagos Water Corporation{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}Mobile data collection made easy. LWC Formhub/Ona is built on a belief that data collection and analysis should be fast, flexible and reliable. And open source, of course.{% endblock %}">
    <meta name="author" content="">
    {% if GOOGLE_SITE_VERIFICATION %}
    <meta name="google-site-verification" content="{{ GOOGLE_SITE_VERIFICATION }}" />
    {% endif %}

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    {% block styles %}

    <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/screen.css?v=2809679b01" rel="stylesheet">
    <link href="{{STATIC_URL}}css/ona-screen-overrides.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css" rel="stylesheet">
    <!--[if lte IE 8]>
      <link href="//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome-ie7.css" rel="stylesheet">
    <![endif]-->
	  <link href="{{STATIC_URL}}bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" type="image/x-icon" href="{{STATIC_URL}}images/favicon.ico">
    <link rel="apple-touch-icon" href="{{STATIC_URL}}bootstrap/docs/assets/ico/bootstrap-apple-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{STATIC_URL}}bootstrap/docs/assets/ico/bootstrap-apple-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{STATIC_URL}}bootstrap/docs/assets/ico/bootstrap-apple-114x114.png">
    <style>
    .brand {
      height: auto;
    }
    .brand img{
      height: 58px
    }
    </style>

    {% endblock %}

    <!-- spot to insert stuff for google maps -->
    {% block additional-headers %}{% endblock %}


  </head>

  {% block body %}
	{% if not user.is_authenticated %}

	<body style="padding-top: 20px !important">
		{% include "change_language.html"%}
		{% include "home_topbar.html" %}

    {% else %}

    <body class='authenticated'>
		{% include "topbar.html"%}

    {% endif %}

    <div class="container">
      {% block message %}
        {% if message or messages or message_list %}
          {% include "message.html" %}
        {% endif %}
      {% endblock %}
      {% block content %}
        {% if template %}{% include template %}{% endif %}
        {{ content|safe }}
      {% endblock %}
    </div>

    {% include "footer.html" %}

    {% block javascript %}

    <!-- Le javascript -->
	<script type="text/javascript" src="{% url "javascript-catalog" %}"></script>
    <script src="{{STATIC_URL}}bower_components/jquery/jquery.min.js"></script>
    <script src="{{STATIC_URL}}bower_components/jquery/jquery-migrate.min.js"></script>
    <script src="{{STATIC_URL}}js/jquery.tablesorter.min.js"></script>
    <script src="{{STATIC_URL}}bootstrap/js/bootstrap.js"></script>
    <script src="{{STATIC_URL}}bootstrap/js/bootstrapx-clickover.js"></script>
    <script src="{{STATIC_URL}}bootstrap/js/bootstrapx-clickover-btns.js"></script>
    <script src="{{STATIC_URL}}js/application.js?v=201307251039"></script>

    {% endblock %}

    {% block additional-javascript %}{% endblock %}

    {% block google-analytics %}
    {% if GOOGLE_ANALYTICS_PROPERTY_ID %}
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
     (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
         })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', '{{ GOOGLE_ANALYTICS_PROPERTY_ID }}', '{{ GOOGLE_ANALYTICS_DOMAIN }}');
    ga('send', 'pageview');

    </script>
    {% endif %}
    {% endblock %}

  </body>
  {% endblock %}
</html>
