<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>LWC Map</title>
<!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
<!--[if lt IE 9]>
  <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

    {% if GOOGLE_SITE_VERIFICATION %}
    <meta name="google-site-verification" content="{{ GOOGLE_SITE_VERIFICATION }}" />
    {% endif %}

<link href="{{STATIC_URL}}bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="{{STATIC_URL}}bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">

<script type="text/javascript" src="{% url "javascript-catalog" %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="{{STATIC_URL}}bootstrap/js/bootstrap.js"></script>

{% block additional-headers %}{% endblock %}
</head>

{% block body %}
<div class="container">
{% block content %}
    {% if template %}{% include template %}{% endif %}
    {{ content|safe }}
{% endblock %}
</div>
</body>
{% endblock %}
    {% if GOOGLE_ANALYTICS_PROPERTY_ID %}
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
     (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
         })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', '{{ GOOGLE_ANALYTICS_PROPERTY_ID }}', '{{ GOOGLE_ANALYTICS_DOMAIN }}');
    ga('send', 'pageview');

    </script>
    {% endif %}
</html>
