{% load i18n %}
<footer class="footer">
  <div class="container">
    <p>
        <a href="http://lagoswater.org/">{% trans "About Lagos Water Corporation" %}</a> |
        {% trans "Copyright &copy; 2017 LWC" %} | Developed and maintained by <a href="https://www.tohl.org"><img style="width: 100px" src="{{STATIC_URL}}images/tohl_logo.jpg" alt="TOHL" /></a>
    </p>
  </div>
</footer>
