        <div class="header">
            <a class="brand" href="/" title="LWC Form Portal">
                <img alt="lwc" src="{{STATIC_URL}}images/lagoswaterlogo.png" />
            </a>
        </div>

