{% load i18n %}

<div class = "container">
	<div class=" row-fluid">
		<div class = "span12">
			<div class = "span2">
				<a class="brand" href="/" title="LWC"><img alt="LWC"
                    src="{{STATIC_URL}}images/lagoswaterlogo.png" class="left"/></a>
			</div>
		<div class = "span8">
			<div class = "navigation">
				<ul id = "navlist">
					<li> <a href="/accounts/register/"> Sign Up </a> </li>
					<li> <a href="{% url "forms_list" %}">{% trans "Forms" %}</a></li>
                    {% if user.is_superuser or user.is_staff %}
					<li> <a href="{% url "members-list" %}">{% trans "People" %}</a></li>
                    {% endif %}
					<li> <a href="{% url "faq" %}"> {% trans "FAQ" %} </a> </li>
					<li> <a href="{% url "support" %}">{% trans "Support" %}</a></li>
				</ul>
			</div>
		</div>
		<div class = "span2" id = "topbar_login"> <a href="{% url "auth_login" %}" class="btn btn-info pull-right" id="login_btn">{%  trans "Log In" %}</a> </div>
		</div> <!-- Span 12 -->
	</div> <!-- row fluid -->
</div>
