{% load i18n %}

<div class="navbar navbar-fixed-top" data-dropdown="dropdown" >
  <div class="navbar-inner{% if form_view %} navbar-inner-map{% endif %}">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/" title="Lagos Water Corporation"><img alt="Lagos Water Corporation"
          src="{{STATIC_URL}}images/lagoswaterlogo.png" height="35" /></a>
      <div class="nav-collapse collapse">
          {% if form_view %}
          <ul class="nav">
            <li>&nbsp;</li>
            <li>
                <img src='{{ profile.gravatar }}' alt='gravatar' width='30' height='30' />
                &nbsp;
                &nbsp;
            </li>
            <li>&nbsp;&nbsp;</li>
            <li class="lead">
              <a href="{% url "user_profile" content_user.username %}">{{ content_user.username }}</a>
            </li>
            <li class="lead">
              <a href="#">/</a>
            </li>
            <li class="lead">
              <a href="{% url "form-show" content_user.username xform.id_string %}">{{ xform.title }}</a>
            </li>
            <li><a href="#"><span id="submission_count" class="inverted" title="{% blocktrans with nb_sub=xform.submission_count %} <%= geocoded_submission_count %> submissions with geo data out of {{ nb_sub}} total.{% endblocktrans %}">{% blocktrans with nb_sub=xform.submission_count %}{{ nb_sub}} submissions{% endblocktrans %}</span></a></li>
            <li class="lead"><button class="refresh-map btn btn-small"><i class="icon icon-refresh"></i> Refresh Map Data</button></li>
          </ul>
          <ul class="nav pull-right">
            <li><a href="#" class="dropdown-toggle">{% trans "Data" %}</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li>
                    <a href="{% url "csv_export" content_user.username xform.id_string %}">
                        {% trans "csv" %}
                    </a>
                </li>
                <li>
                    <a href="{% url "xls_export" content_user.username xform.id_string %}">
                        {% trans "xls" %}
                    </a>
                </li>
                <li>
                    <a href="{% url "kml-export" content_user.username xform.id_string %}">
                         {% trans "kml" %}
                    </a>
                </li>
              </ul>
            </li>
          </ul>
          {% else %}
          <ul class="nav">
            <!-- <li class="active"><a href="#overview">Overview</a></li> -->
            <li><a href="{% url "forms_list" %}">{% trans "Forms" %}</a></li>
              {% if user.is_superuser or user.is_staff %}
            <li><a href="{% url "members-list" %}">{% trans "People" %}</a></li>
              {% endif %}
            <!-- <li><a href="/resources/">{% trans "Resources" %}</a></li> -->
            <li><a href="{% url "syntax" %}">{% trans "Syntax" %}</a></li>
            <li><a href="{% url "support" %}">{% trans "Support" %}</a></li>
          </ul>
          <ul class="nav pull-right">
            {% if user.is_authenticated %}
            <!-- <li><a id="new-form" href="#" rel="tooltip" title="{% trans "New Form" %}"><img src="{{ STATIC_URL }}images/upload-icon.png"></a></li> -->
            <li><a href="/{{user.username}}">{{user.username}}</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="{% url "public_profile" user.username %}"><i class="icon-user"></i> {% trans "Public profile" %}</a></li>
                <li><a href="{% url "profile-settings" user.username %}"><i class="icon-cog"></i> {% trans "Settings" %}</a></li>
                <li><a href="{% url "activity" user.username %}"><i class="icon-eye-open"></i> {% trans "Account Activity" %}</a></li>
                <li><a href="{% url "api-token" user.username %}"><i class="icon-cog"></i> {% trans "API Token" %}</a></li>
                <!--<li><a href="{% url "auth_password_change" %}">Change password</a></li>-->
            <li class="divider"></li>
                <li><a href="{% url "auth_logout" %}"><i class="icon-signout"></i> {% trans "Sign out" %}</a></li>
              </ul>
            </li>
            {% else %}
            <li><a href="{% url "auth_login" %}">{% trans "Sign in" %}</a></li>
            {% endif %}
          </ul>
          {% endif %}
      </div>
    </div>
  </div>
</div>
