{% load humanize %}

{% block content %}

{% load i18n %}
<script type="text/javascript" src="https://www.dropbox.com/static/api/1/dropbox.js" id="dropboxjs" data-app-key="0jxhquu5po7r0an"></script>
<section id="profile">
  <div class="row">
    <div class="span5">
        <h1>{% blocktrans %}Publish a Form <small>Upload XLSForm</small>{% endblocktrans %}</h1>

        <br/>
        <form action="." method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="tabbable">
            <ul class="nav nav-tabs nomarginbottom">
                <li class="active"><a href="#upload" data-toggle="tab">{% trans "Upload" %}</a></li>
                <li><a href="#url" data-toggle="tab">{% trans "URL" %}</a></li>
								<li><a href="#db-chooser" data-toggle="tab">{% trans "Dropbox" %}</a></li>
            </ul>
            <div class="tab-content bordered-side">
                <div class="tab-pane active" id="upload">
                    <table class="narrow-labels">
                        {{ form.as_table }}
                    </table>
                </div>
                <div class="tab-pane" id="url">
                    <table class="narrow-labels">
                        {{ form_url.as_table }}
                    </table>
                </div>
                <div class="tab-pane" id="db-chooser">
									<input type="dropbox-chooser" name="dropbox_xls_url" data-link-type="direct" style="visibility: hidden;"/>
                </div>
            </div>
            </div>
            <div style='float:middle;'>
	        <div class="form-actions bordered-side bordered-bottom nomargintop">
                <input type="submit" class="btn large btn-primary" value="{% trans 'Publish' %}" />
            </div>
            </div>
        </form>
    </div>
    <div class="span1">
        &nbsp;
    </div>
    <div class="span6 profile">
        <div class="bordered">
        <div class="row">
        <div class="span1">
            {% if not profile.gravatar_exists %}
                <a style="display: inline-block;" title="{% trans "Click to change your avatar" %}" href="https://secure.gravatar.com/site/login" id="gravatar">
            {% endif %}
            <img src='{{ profile.gravatar }}' alt='gravatar' width='60' height='60' />
            {% if not profile.gravatar_exists %}
               </a>
            {% endif %}
        </div>
        <div class="span4">
            <h3 class="short">
                <a href="{% url "public_profile" content_user.username %}">{{ content_user.username }}</a>
                {% if profile.name %}
                <span class="name">|&nbsp;{{ profile.name }}</span>
                {% endif %}
            </h3>
            <span><a href="{% url "public_profile" content_user.username %}">{% trans "View Profile Page" %}</a></span>
        </div>
        </div>
        <div class="row">
        <div class="span1">
            <h4>{{ all_forms|intcomma }}</h4>
        </div>
        <div class="span2">
            <h4>{{ num_forms|intcomma }}</h4>
        </div>
        <div class="span2">
            <h4>{{ user_instances|intcomma }}</h4>
        </div>
        </div>
        <div class="row">
        <div class="span1">
            <small>{% trans "FORMS" %}</small>
        </div>
        <div class="span2">
            <small>{% trans "SHARED FORMS" %}</small>
        </div>
        <div class="span2">
            <small>{% trans "SUBMISSIONS" %}</small>
        </div>
        </div>
        </div>
    </div>
</div>
</section>
{% include "published_surveys.html" %}
<p>
{% blocktrans with url=url %}
The url "of" this web application <strong>{{ url }}</strong>
must be given to ODK Collect before it will get forms from and
submit data to ona. In Collect's Main Menu, press the Menu
button. Select Server Preferences, then Server. Enter
<strong>{{ url }}</strong> as the server. {% endblocktrans %}
</p>
{% endblock %}
